body {
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}


img {
    width: 100%;            
    max-width: 500px;       
    height: auto;          
  }
